pitta_project/settings.py
pitta_project/__pycache__/
users_app/__pycache__/
users_app/migrations/
users_app/libs/__pycache__/
masters_app/__pycache__/
masters_app/migrations/
posts_app/__pycache__/
posts_app/migrations/
posts_app/libs/__pycache__/
